# .gitignore for VUKL project
# TeX build products
*.aux
*.auxlock
*.bbl
*.blg
*.log
*.out
*.pdf
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.maf
*.mtc*

# Various Data
tex/vukl.tex
csv/
db/
kis2evasys/data/

# System Artifacts
.DS_Store
.idea
._*
*~.*
\#*\#
*~
*.o
*.bak
.*.swp
*.log
a.out
